################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/src/bin
/src/obj/Debug
/.vs/WireboyPlayer/v16
